<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="title">{{title | uppercase}}</span>
                    <form class="mt-3" [formGroup]="productForm" (ngSubmit)="createProduct()">
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" placeholder="Name" formControlName="name">
                            <div class="text-danger" *ngIf="productForm.get('name')?.hasError('required') && productForm.get('name')?.touched">
                                <span>El campo name es <strong>obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" placeholder="Description" formControlName="description">
                            <div class="text-danger" *ngIf="productForm.get('description')?.hasError('required') && productForm.get('description')?.touched">
                                <span>El campo description es <strong>obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" placeholder="ImageURL" formControlName="imageURL">
                            <div class="text-danger" *ngIf="productForm.get('imageURL')?.hasError('required') && productForm.get('imageURL')?.touched">
                                <span>El campo imageURL es <strong>obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="number" class="form-control form-control-lg" placeholder="Price" formControlName="price">
                            <div class="text-danger" *ngIf="productForm.get('price')?.hasError('required') && productForm.get('price')?.touched">
                                <span>El campo price es <strong>obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-secondary btn-lg float-start" routerLink="/">BACK</button>
                            <button type="submit" [disabled]="productForm.invalid" class="btn btn-success btn-lg float-end">SAVE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
